.hide{
            display: none;
        }

.menu{
            height: 38px;
            background-color: #eeeeee;
            line-height: 38px;

        }




.content{
            min-height: 38px;
            border: 1px solid #eeeeee;
            padding-left: 40px;
            float: right;
            display: flex;

        }
/*.item{*/
            /*position: relative;*/
            /*width: 150px;*/

.jq_name{
    margin: 10px 10px 10px 30px;
}
.jq_button{
    color: orange;float: right;margin: 10px;
}
.jq_button:hover{
    background-color: aquamarine;
}
.jq_th{
    width: 10%;
    border: 1px solid gray;
    margin: 2px;
}
.add_css{
    position: fixed;
    top: 50%;
    left: 40%;
    width: 800px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    background-color: #eeeeee;
    z-index: 10;
}

.jq_td{

    height: 38px;
    width: 10%;
    border: 1px solid gray;
    margin: 2px;
    text-align: center;

}

.menu_list {
            width: 200px;
            margin: 0;
        }

.menu_head {
    height: 47px;
    line-height: 47px;
    padding-left: 38px;
    font-size: 14px;
    color: #525252;
    cursor: pointer;
    border: 1px solid #f1f1f1;
    position: relative;
    margin: 0px;
    font-weight: bold;
    background: #51a9f18c;
}

.menu_list .current {
    background: #51a9f18c;
}

.menu_nva {
    line-height: 38px;
    border-left: 1px solid #51a9f18c;
    backguound: #fff;
    border-right: 1px solid #51a9f18c;
}

.menu_nva a {
    display: block;
    height: 38px;
    line-height: 38px;
    padding-left: 38px;
    color: #777777;
    background: #fff;
    text-decoration: none;
    border-bottom: 1px solid #51a9f18c;
}

.menu_nva a:hover {
    text-decoration: none;
}

.associated_select_from{
    width: 18%;
    /*display: inline;*/
    border: 1px solid gray;
    text-align: center;
}
.main_login{
    color: orange;
}
.main_login:hover{
    color: red;
}
.associated_detail{
    width: 200px;
    height: 28px;
    border: 1px solid gray;

}
.record_detail{
    border: 1px solid gray;
    height: 38px;
    line-height: 38px;

}
.backgroud_image{
    background: url(/static/images/photograph.jpg) no-repeat center center fixed;
    background-size:cover ;
}
