<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail_page</title>
    <link rel="stylesheet" href="/static/commons.css">
</head>
<body class="backgroud_image">
    <div  style="margin: 38px 0px;height: 58px;width: 100%">
        <h1 style="color: orange;text-align: center;line-height: 58px">
            <a style="text-decoration: none;color: orange;" href="/page/login/">橙联自动化平台</a>

        </h1>
    </div>

    <h2>场景详情:</h2>
    <div style="width: 100%;height: 350px;border: 1px solid slategrey;text-align: center">
        <div >
            <div style="display: inline;font-size: 25px">项目名称: <span class="associated_detail" style="color: black;"> {{ detail_data.0.project }}</span></div>
            <div  style="display: inline;font-size: 25px;margin-left: 100px">关联场景名称: <span class="associated_detail">{{ detail_data.0.Associated_name }}</span></div>

        </div>
            <table>
                <thead  style="overflow: auto">
                    {% for row in detail_data %}
                        <tr >
                            <th style="width: 100%;margin: auto">
                                <span style="width: 100px">步骤{{ row.order_desc|add:1 }}:</span>

                                <select style="width: 100px;margin-left: 10px">
                                    <option>{{ row.api_name }}</option>
                                </select>

                                <select style="width: 100px;margin-left:20px ">
                                    <option>{{ row.next_api_name }}</option>
                                </select>
                                <span style="width: 100px;margin-left:20px">提取式1:</span>
                                <input style="width: 100px " type="text" name=tex1 disabled value="{{ row.extraction_type_0 }}">
                                <span style="width: 100px;margin-left:20px">提取式2:</span>
                                <input style="width: 100px" type="text" name=tex1 disabled  value="{{ row.extraction_type_1 }}">
                                <span style="width: 100px;margin-left:20px">赋值1:</span>
                                <input style="width: 100px " type="text" name=tex1 disabled  value="{{ row.assignment_name0 }}">
                                <span style="width: 100px;margin-left:20px">赋值2:</span>
                                <input style="width: 100px" type="text" name=tex1 disabled  value="{{ row.assignment_name1 }}">
                            </th>
                        </tr>
                     {% endfor %}
                </thead>
            </table>


    </div>
    <div style="position: relative">
        <a href="/page/main/Associated_api/" >
            <input style="position: absolute;right: 50%;color: orange" type="button" value="返回">
        </a>
    </div>





    <script src="/static/jquery.js"></script>
    <script>

    </script>
</body>
</html>