<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail_page</title>
    <link rel="stylesheet" href="/static/commons.css">
</head>
<body class="backgroud_image" >
    <div  style="margin: 38px 0px;height: 58px;width: 100%">
        <h1 style="color: orange;text-align: center;line-height: 58px">
            <a style="text-decoration: none;color: orange" href="/page/login/">橙联自动化平台</a>

        </h1>
    </div>

    <div>
    <h2>API接口详情:</h2>
    {% for row in detail %}
        <div style="width: 80%;display:flex;margin-bottom: 20px;">

            <div style="display:flex;justify-content: center;align-items: center;">
                <div style="width:100px;text-align: center">url:</div>
                    <input name=tex1 disabled style="height: 38px;width: 400px;" type="text" value="{{ row.api_url }}">
             </div>
            <div style="display:flex;justify-content: center;align-items: center;margin-left: 20px;">
                        <div style="width:100px;text-align: center">header:</div>
                        <input name=tex1 disabled style="height: 38px;width:400px ;" type="text" value="{{ row.api_header }}">
            </div>
        </div>
        <div style="width: 80%;display:flex;margin-bottom: 20px;">
            <div  style="display:flex;justify-content: center;align-items: center;">
                <div style="width:100px;text-align: center">method:</div>
                <input name=tex1 disabled style="height: 38px;width: 400px;" type="text"value="{{ row.api_method }}">
            </div>
            <div  style="display:flex;justify-content: center;align-items: center;margin-left: 20px;">
                <div style="width:100px;text-align: center">接口名称:</div>
                <input name=tex1 disabled style="height: 38px;width: 400px;" type="text"value="{{ row.api_name }}">
            </div>

        </div>

        <div style="width: 80%;display:flex;margin-top: 20px;margin-bottom: 20px;">
            <div  style="display:flex;justify-content: center;align-items: center;">
                <div style="width:100px;text-align: center" >data:</div>
{#                <input id="data1" style="height: 200px;width: 400px;" type="text" value="{{ row.api_data }}">#}
                <textarea name=tex1 disabled style="height: 200px;width: 400px;">{{ row.api_data }}</textarea>
            </div>
            <div style="display:flex;justify-content: center;align-items: center;margin-left: 20px;">
                <div style="width:100px;text-align: center">response:</div>
{#                <input style="height: 200px;width: 400px;" type="text" value="{{ row.api_response }}">#}
                <textarea name=tex1 disabled style="height: 200px;width: 400px;">{{ row.api_response }}</textarea>
            </div>
        </div>

    {% endfor %}

    <a href="/page/main/select/?p=1" ><input style="color: orange" type="button" value="返回"></a>






    <script src="/static/jquery.js"></script>
    <script>
        {#$('#data1').attr("attr",JSON.parse($('#data1').val()));#}
        {#var v=JSON.stringify($('#data1').val());#}
        {#$('#data1').val(v);#}
        {#console.log(v)#}

    </script>
</body>
</html>