<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>first_page</title>
    <link rel="stylesheet" href="/static/commons.css">
</head>
<body>
    <div  style="background-color: lightgray;margin: 38px 0px;height: 58px;width: 100%">
        <h2 style="color: orange;text-align: center;line-height: 58px">
            橙联自动化平台
        </h2>
    </div>
    <div  style="height:800px;width: 100%;display: flex ">
        <div style="height: 400px;width: 15%;border: 1px solid blanchedalmond;display: block" >
                <div class="menu">
                    <div class="menu-item active" >接口自动化</div>

                    <div class="content hide" >基础数据配置</div>


                </div>
                <div class="menu">
                    <div class="menu-item" >接口项目配置</div>
                    <div class="content hide">内容</div>
                </div>
                <div class="menu">
                    <div class="menu-item" >标题三</div>
                    <div class="content hide">内容</div>
                </div>
                <div class="menu">
                    <div class="menu-item" >标题四</div>
                    <div class="content hide">内容2</div>
                </div>
        </div>
        <div style="width: 83%;display: block;margin-left: 30px; border-right: 1px solid lightgray;">
            <div style="width: 90%;height: 100px;margin-top: 30px;margin-left: 40px">
                <form id="form1" action="/page/" method="post">

                    <label for="api_name" class="jq_name">接口名称:</label>
                    <input type="text" name="api_name" placeholder="自定义">

                    <label for="project" class="jq_name">项目类型:</label>
                    <input name="project" type="text">

                    <label for="create_user" class="jq_name">创建人:</label>
                    <input name="create_user" type="text">
                </form>

            </div>

            <div style="width: 90%; display: block">
                <div style="height: 38px">
                    <input id="s1"  type="button" value="查询" class="jq_button">
                    <input id="a1" type="button" value="新增" class="jq_button">
                    <input id="u1" type="button" value="修改" class="jq_button">
                    <input id="d1" type="button" value="删除" class="jq_button">

                 </div>
                <div style="width: 100%;height: 38px; display: block">
                    <table style="width: 90%">
                        <thead style="width: 80%">
                            <tr>
                                <th class="jq_th" >
                                    <input type="checkbox">
                                </th>
                                <th class="jq_th">
                                    <div>序号</div>
                                </th>
                                <th class="jq_th" >
                                    <div>项目名称</div>
                                </th>
                                <th class="jq_th">
                                    <div>url</div>
                                </th>
                                <th class="jq_th">
                                    <div>执行结果</div>
                                </th>
                                <th class="jq_th">
                                    <div>创建时间</div>
                                </th>
                                <th class="jq_th">
                                    <div>修改时间</div>
                                </th>
                                <th class="jq_th">
                                    <div>修改人</div>
                                </th>
                        </thead>
                    </table>

                </div>

                <div style="width: 100%;min-height: 350px;border: 1px solid hotpink ">
                    <table style="height: 38px">
                        {% for row in data  %}
                            <tr>
                                <td>{{ row.id }}</td>
                                <td>{{ row.project}}</td>
                                <td>{{ row.api_name }}</td>
                                <td>{{ row.api_url }}</td>
                                <td>{{ row.api_data }}</td>
                                <td>{{ row.api_header }}</td>
                                <td>{{ row.api_method }}</td>
                                <td>{{ row.api_response }}</td>
                                <td>{{ row.create_time }}</td>
                                <td>{{ row.modify_user_code }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>

            </div>

        </div>


    </div>

    <div class="add_css hide " id="add_hide">
        <div name="add" style="margin: 10px 0px 10px 0px;color: black;background-color: darkgrey;font-size: 20px">
            新增
        </div>
        <form action="/page/" method="POST">
            <p>
                <label for="operation_name"></label>
                <input name="operation_name" type="text" style="display: none" value="add">

            </p>
            <p>
                <label for="project">项目名称:</label>
                <input type="text" name="project" placeholder="请输入项目英文名称">
                <label for="project_name">名称:</label>
                <input type="text" name="project_name" placeholder="请输入接口名称">
            </p>
            <p>
                <label for="url">URL:</label>
                <input type="text" name="url" placeholder="请输入URL">
                <label for="data">报文:</label>
                <input type="text" name="data" placeholder="请输入报文">

            </p>
            <p>
                <label for="header">请求头:</label>
                <input type="text" name="header" placeholder="请输入请求头">
                <label for="method">请求方式:</label>
                <input type="text" name="method" placeholder="请输入请求头">
            </p>
            <div style="margin-top: 200px">
                <input id="i1" type="submit" value="提交" >
                <a href="/page"><input id="i2" type="button" value="取消"></a>

            </div>
        </form>

    </div>




    <script src="/static/jquery.js"></script>
    <script>
        $('.menu-item,.content').click(function () {
            $(this).addClass('active').siblings().removeClass('active');
            $('.content').children().eq($(this).index()).removeClass('hide').siblings().addClass('hide');
            $(this).next().removeClass('hide').parent().siblings().find('.content').addClass('hide');

        });
        $('#i2').click(function () {
            $(this).parent().parent().parent().addClass('hide');
            alert('取消成功')
        });
        $('#i1').click(function () {
            $(this).parent().parent().parent().addClass('hide');
            alert('提交成功')
        });
        $('#a1').click(function () {
            $(this).parent().parent().parent().parent().next().removeClass('hide');
            console.log(2)

        });
        $('#s1').click(function () {
           var api_name = $("#form1").children().next().val();
           var project = $("#form1").children().next().next().next().val();
           var create_user = $("#form1").children().next().next().next().next().next().val();
           console.log('api_name;',api_name,'project:',project,'create_user:',create_user);
           //提交表单
           $.ajax({
                url:"",
                type:"POST",
                dataType:"json",
                data:{"operation_name":"select","api_name":api_name,"project":project,"create_user":create_user},
                success:function () {
                    alert('123');
                }
            })



        });

    </script>
</body>
</html>