<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>first_page</title>
    <link rel="stylesheet" href="/static/commons.css">

</head>
<body>
    <div  style="background-color: lightgray;margin: 38px 0px;height: 58px;width: 100%">
        <h1 style="color: orange;text-align: center;line-height: 58px">
            <a style="text-decoration: none;color: orange;" href="/page/login/">橙联自动化平台</a>

        </h1>
    </div>
    <div  style="height:800px;width: 100%;display: flex ">
        <div style="height: 400px;width: 15%;border: 1px solid blanchedalmond;display: block" >
            <div id="firstpaneDiv" class="menu_list">
                <h3 class="menu_head current">接口数据</h3>
                <div style="display:block" class="menu_nva">
                    <a href="/page/main/">接口数据维护</a>
                    <a href="/page/main/Associated_api/">关联接口配置</a>
                    <a href="#">日志管理</a>
                    <a href="#">角色管理</a>
                    <a href="#">编码管理</a>
                    <a href="#">操作日志</a>
                    <a href="#">流程管理</a>
                </div>
                <h3 class="menu_head">xxx菜单1</h3>
                <div style="display:none" class="menu_nva">
                    <a href="#">用例1xx</a>
                    <a href="#">用例2xx</a>
                    <a href="#">用例3xx</a>
                    <a href="#">用例4xx</a>
                    <a href="#">用例5xx</a>
                    <a href="#">用例6xx</a>
                    <a href="#">用例7xx</a>
                    <a href="#">用例8xx</a>
                </div>
                <h3 class="menu_head">xxx菜单2</h3>
                <div style="display:none" class="menu_nva">
                    <a href="#">用例1xx</a>
                    <a href="#">用例2xx</a>
                    <a href="#">用例3xx</a>
                    <a href="#">用例4xx</a>
                    <a href="#">用例5xx</a>
                    <a href="#">用例6xx</a>
                    <a href="#">用例7xx</a>
                    <a href="#">用例8xx</a>
                </div>
                <h3 class="menu_head">xxx菜单3</h3>
                <div style="display:none" class="menu_nva">
                    <a href="#">用例1xx</a>
                    <a href="#">用例2xx</a>
                    <a href="#">用例3xx</a>
                    <a href="#">用例4xx</a>
                    <a href="#">用例5xx</a>
                    <a href="#">用例6xx</a>
                    <a href="#">用例7xx</a>
                    <a href="#">用例8xx</a>
                </div>
                <h3 class="menu_head">xxx菜单4</h3>
                <div style="display:none" class="menu_nva">
                    <a href="#">用例1xx</a>
                    <a href="#">用例2xx</a>
                    <a href="#">用例3xx</a>
                    <a href="#">用例4xx</a>
                    <a href="#">用例5xx</a>
                    <a href="#">用例6xx</a>
                    <a href="#">用例7xx</a>
                    <a href="#">用例8xx</a>
                </div>
                <h3 class="menu_head">xxx菜单5</h3>
                <div style="display:none" class="menu_nva">
                    <a href="#">用例1xx</a>
                    <a href="#">用例2xx</a>
                    <a href="#">用例3xx</a>
                    <a href="#">用例4xx</a>
                    <a href="#">用例5xx</a>
                    <a href="#">用例6xx</a>
                    <a href="#">用例7xx</a>
                    <a href="#">用例8xx</a>


                </div>

            </div>
        </div>

        {% block firstbody %}


        {% endblock %}



    </div>





    <script src="/static/jquery.js"></script>
    {% block js %}

    {% endblock %}

    <script>


        $('#i2').click(function () {
            $(this).parent().parent().parent().addClass('hide');
            alert('取消成功')
        });
        $('#i1').click(function () {
            var result=add_data(this);
            if(result==true){
                $(this).parent().parent().parent().addClass('hide');
            alert('提交成功')
            }

        });
        $('#a1').click(function () {
            $(this).parent().parent().parent().parent().next().removeClass('hide');
            console.log(2)

        });
        {#$('#s1').click(function () {#}
        {#   var api_name = $("#form1").children().next().val();#}
        {#   var project = $("#form1").children().next().next().next().val();#}
        {#   var create_user = $("#form1").children().next().next().next().next().next().val();#}
           {#console.log('api_name;',api_name,'project:',project,'create_user:',create_user);#}
        {#   //提交表单#}
        {#   $.ajax({#}
        {#        url:"select/",#}
        {#        type:"get",#}
        {#        dataType:"json",#}
        {#        data:{"operation_name":"select","api_name":api_name,"project":project,"create_user":create_user},#}
        {#        success:function (data) {#}
        {#            console.log(data)#}
        {#        }#}
        {#    })#}
        {##}
        {##}
        {##}
        {# };#}
        $("#s1").click(function(){
            $("#submit_hide").trigger('click');
          });
        function add_data(add) {
            var api_project = add.project_add.value;
            var api_name = add.project_name_add.value;
            var api_url = add.url_add.value;
            var api_method = add.method_add.value;
            var api_header = add.header_add.value;
            var api_data = add.data_add.value;

            var api_project_error= document.getElementById('api_project_error');
            var api_name_error= document.getElementById('api_name_error');
            var api_url_error= document.getElementById('api_url_error');
            var api_method_error= document.getElementById('api_method_error');
            var api_header_error= document.getElementById('api_header_error');
            var api_data_error= document.getElementById('api_data_error');

            var isSubmit = true;
            if (api_project ==""){
                isSubmit=false;
                api_project_error.innerHTML='项目名称不能为空！'

            };
            if (api_name ==""){
                isSubmit=false;
                api_name_error.innerHTML='接口名称不能为空！'

            };
            if (api_url ==""){
                isSubmit=false;
                api_url_error.innerHTML='URL不能为空！'

            };

            if (api_method ==""){
                isSubmit=false;
                api_method_error.innerHTML='请求方式不能为空！'

            };
            if (api_header ==""){
                isSubmit=false;
                api_header_error.innerHTML='请求头不能为空！'

            };
            if (api_data ==""){
                isSubmit=false;
                api_data_error.innerHTML='请求报文不能为空！'

            };
            if(!isSubmit){
                //阻止表单提交
                return false;
            }


        };
        $(document).ready(function () {
            $("#firstpaneDiv .menu_nva:eq(0)").show();
            $("#firstpaneDiv h3.menu_head").click(function () {
                $(this).addClass("current").next("div.menu_nva").slideToggle(200).siblings("div.menu_nva").slideUp("slow");
                $(this).siblings().removeClass("current");
            });
            $("#secondpane .menu_nva:eq(0)").show();
            $("#secondpane h3.menu_head").mouseover(function () {
                $(this).addClass("current").next("div.menu_nva").slideDown(400).siblings("div.menu_nva").slideUp("slow");
                $(this).siblings().removeClass("current");
            });
        });

    </script>
</body>
</html>