<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail_page</title>
    <link rel="stylesheet" href="/static/commons.css">
</head>
<body>
    <div  style="background-color: lightgray;margin: 38px 0px;height: 58px;width: 100%">
        <h2 style="color: orange;text-align: center;line-height: 58px">
            橙联自动化平台
        </h2>
    </div>
    <form action="/page/main/modify/" method="post">
        {% for row in detail %}
            <div style="width: 80%;display:flex;margin-bottom: 20px;">

                <div style="display:flex;justify-content: center;align-items: center;">
                    <div style="width:100px">url:            </div>
                        <input style="height: 38px;width: 400px;" type="text" name="api_url" value="{{ row.api_url }}">
                 </div>
                <div style="display:flex;justify-content: center;align-items: center;margin-left: 20px;">
                            <div style="width:100px">header:</div>
                            <input style="height: 38px;width:400px ;" type="text" name="api_header" value="{{ row.api_header }}">
                </div>
            </div>
            <div style="width: 80%;display:flex;margin-bottom: 20px;">
                <div  style="display:flex;justify-content: center;align-items: center;">
                    <div style="width:100px">method:</div>
                    <input style="height: 38px;width: 400px;" type="text" name="api_method" value="{{ row.api_method }}">
                </div>
                <div  style="display:flex;justify-content: center;align-items: center;margin-left: 20px;">
                    <div style="width:100px">接口名称:</div>
                    <input style="height: 38px;width: 400px;" type="text" name="api_name" value="{{ row.api_name }}">
                </div>

            </div>

            <div style="width: 80%;display:flex;margin-top: 20px;margin-bottom: 20px;">
                <div  style="display:flex;justify-content: center;align-items: center;">
                    <div style="width:100px" >data:</div>
                    <input style="height: 200px;width: 400px;" type="text" name="api_data" value="{{ row.api_data }}">
                </div>
                <div style="display:flex;justify-content: center;align-items: center;margin-left: 20px;">
                    <div style="width:100px">response:</div>
                    <input style="height: 200px;width: 400px;" type="text" value="{{ row.api_response }}">
                </div>
            </div>
            <input type="text" style="display: none" value="{{ row.id }}">

        {% endfor %}
        <a href="/page/main/select/" style="background: olivedrab;color: black">返回</a>
        <input type="submit" value="提交">
    </form>









    <script src="/static/jquery.js"></script>
</body>
</html>